*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: #efeff2;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(36, 36, 172, 0.716);
}
.calculater{
    margin: 0 80px;
    box-shadow: 4px 4px 30px rgba(0,0,0, 0.3);
}

.bg-red{
    background:rgb(17, 17, 17);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    border-radius: 0 0 25px 25px   ;
}
button{
    min-width: 80px;
}
.ans{
    position: relative;
    height: 30vh;
    width: 100%;
    padding: 0 20px;
    font-size: large;
    text-align: right;
    font-weight: 900;
    border: none;
    pointer-events: none;
    background-color: black;
    color: white;
    border-radius: 25px 25px  0 0 ;
}
.row{
    position: relative;
    min-width: 360px;
}
.row button{
    
    font-size: 20px;
    margin: 5px 5px;
    padding: 5px;
    border-radius: 50px;
    color: white;
    background-color: rgba(59, 55, 55, 0.478);
    cursor: pointer;

}
.row button:hover{
    transform: scale(1.15);
}
.row .button1{
    background-color: orangered;

} 
.row .buttons{
    background-color: rgba(95, 92, 92, 0.558);

} 